  <td><small><%=link_to object.name, fetch_vials_box_path(object.id), :remote => true %></small></td>
  <td><small><%= object.barcode %></small></td>
<td class="actions text-right">
	<% if can? :manage, Box%>
	  	<%= smart_listing_item_actions [
	  	{name: :custom, url: edit_box_path(object),
	  		method: :get, 
  			icon: "fa fa-edit",
  			title: "Edit"}]%>
  	<%end%>
</td>