<small>
  <div class="container-fluid">
	  <table class="table table-striped">
	    <thead>
	   	<th class="col-xs-1">
	        Color
	    </th>
	    <th class="col-xs-7">
	        Name
	    </th>
	    	 <th class="col-xs-2">
	        Barcode
	    </th>
	    <th class="col-xs-2"></th>
	    
	    </thead>
	    <tbody>
	    	 <% unless smart_listing.empty? %>
		  	<% smart_listing.collection.to_a.uniq.each do |s| %>
	      		<tr class="editable" data-id = "<%= s.id %>">
	          		<%= smart_listing.render object: s, partial: "boxes/smart_listing/box", locals: {object: s} %>
	        		</tr>
	      	<% end %>
	      <%else%>
	      	No box.
	     <%end%>
	    </tbody>
	  </table>
	  <%= smart_listing.paginate %>
	  <%= smart_listing.pagination_per_page_links %>
	</div>
</small>