<%= search_form_for @q, :url => users_path, :remote => true do |f| %>
		 	<div class="form-group row">
		 		<div class="col_lg_11 col-md-11 col-sm-11">
				  	<%= f.search_field :firstname_or_lastname_or_teams_name_or_teams_department_name_cont, class: "col-md-9"%>
				</div>	
			</div>
			<div class="form-row">
				<div class="col-md-12 col-sm-12">
		  			<div class="form-group pull-right">
						<%= f.submit class:"cancel-button btn btn-default" %>
						<%= link_to t('global.clear_search'), users_path, class:"cancel-button btn btn-default" %>
					</div>
		  			</div>
		  		</div>
 <%end%>
