<div class='row'> <strong>Email : </strong> <a href = 'mailto:#{self.email}'><%=user.email%></a> </div>
<div class='row'><strong>Team(s) : </strong> <%=user.teams.pluck(:name).to_sentence %></div>
<div class='row'><strong>Role : </strong> <%=user.role %> </div>
