
	<h1><i class="fa_icon fa fa-search"></i> Boxes & vials</h1>
<div class="container">
<div class="row">
	<div class="col-xs-12">
		<%=render 'vials/components/search'%>
	</div>
</div>
<%if Container.any?%>
	<% unless @boxes.empty? %>
	<div class="row" style="overflow: auto; margin-top: 20px;">
		<div class="col-xs-12 text-center">
			<div class="panel panel-default">
				<div class="panel-heading">Boxes</div>
				<div class="panel-body">
					<%= render partial: 'boxes/list_components/list' %>
				</div>
			</div>
			</div>
		</div>
	<div class="row">
		<div class="col-xs-3 text-center" style="overflow: auto;">
				<div class="panel panel-default">
					<div class="panel-heading">Vials</div>
						<div class="panel-body">
							<%= render partial: 'vials/list_components/list' %>
						</div>
					</div>
				</div>

		<div class="col-xs-6 text-center" style="overflow: auto;">
				<div class="panel panel-default">
					<div class="panel-heading">Selected box</div>
					<div class="panel-body">
						<div id="map-container" class="col-xs-12 text-center">
						</div>
					</div>
				</div>
		</div>
		<div class="col-xs-3 text-center" style="overflow: auto;">
				<div class="panel panel-default">
					<div class="panel-heading">Container</div>
					<div class="panel-body">
						<div class="col-xs-12">
							<div id="container-map-container"></div>
							<div id="map-shelf-rack" class="col-xs-6"></div>
						</div>
					</div>
				</div>
		</div>

	</div>

	<%else%>
	<p><em>No box found</em></p>
	<%end%>
<%else%>
	<p><em>Ask you admin to create a container !</em></p>
<%end%>
</div>
