<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<%=render 'vials/components/search'%>
	</div>
	<table class="table-bordered">
		<th><h5>Boxes</h5></th>
		<th><h5>Vials</h5></th>
		<td>
			<div class="col-lg-4 col-md-4 col-sm-4">		
				<%=render 'vials/components/boxes'%>
			</div>
		</td>
		<td>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<%=render 'vials/components/vials'%>
			</div>
		</td>
	</table>
</div>

