<% provide(:title, "Vial sorter") %>
 <div class="row">
	<div class="col-xs-12">
		<h1>Vial sorter</h1>
	</div>
</div>
		<div id="info-container">
					<div class="row">
						<div id="vial-container" class="col-xs-3">
							<%= render :partial => "vials/components/content_inventory", :locals => {:vials => @vials} %>
						</div>
							<div class="col-xs-9">
								<div class="panel panel-default">

									<div class="panel-body" style="overflow-x: auto;">
										<%=select_tag "box-select", options_from_collection_for_select(Box.all, "id", "name"), :class => 'select2-select col-xs-12', include_blank: true, onchange: "getBoxMap(this.value, '#map-container')" %>
											<span><em><small>Choose a box then drag and drop each vial into a slot.</small></em></span>
									<div id="map-container"></div>
								</div>
						</div><!--End of col-->
					</div><!--End of row-->
		</div>
