      <div class="row">
          <div class="col-xs-1 container_shelf_label_small">Shelf <%=shelf.name%></div>
           <% shelf.shelf_racks.each do |rack| %>
                  <div class="col-xs-1 container_rack_row_small">
                        <div class="text-left text-primary container_rack_label_small">
                          rack#<%=rack.name%>
                        </div>
                  </div>
            <%end%>
        </div>