<% source = '/boxes'%>
<h1><i class="fa_icon fa fa-search"></i> Boxes/vials</h1>
<div class="container">
<div class="row">
	<div class="col-xs-12">
		<%=render 'boxes/components/search'%>
	</div>
</div>
<% unless @boxes.empty? %>
<div class="row" style="overflow: auto;">
	<div class="col-xs-12 text-center">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Boxes</h4>
				<%= render partial: 'boxes/list_components/list', locals: {boxes: @boxes, pagy: @pagy, source: source } %>
			</div>
		</div>
		</div>
</div>
<div class="row">
	<div class="col-xs-4 text-center" style="overflow: auto;">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="vials-container">
						<%= render partial: 'vials/list_components/list', locals: {vials: @vials, pagy: @pagy_vials } %>
					</div>
				</div>
			</div>
	</div>
	<div class="col-xs-8 text-center" style="overflow: auto;">
					<div id="map-container" class="col-xs-12 text-center"></div>
	</div>
</div>

</div>
</div>
<%else%>
<p><em>No box found</em></p>
<%end%>
	