<div class="fieldset">
  <%= search_form_for @q, remote: false do |f| %>
    <div class="row"></div>
    <div class="col-lg-12"></div>
    <h3></h3>
    <i class="fa_icon fa fa-search"></i>
    Containers
    <div class="row">
      <div class="col-lg-12">
        <%= f.search_field :name_or_barcode_or_recap_has_any_term, class: "col-lg-12" %>
      </div>
    </div>
  <% end %>
</div>
