<span align="center" class="location draggable" >
	<div class="box" style="font-size: 70%; text-align: center; border-radius: 2px; background-color: #5cb85c; margin: 5% 2% 2% 2%; padding: 0">
	</div>
</span>