<td ><small><%= object.full_name%></small></td>
<td ><small><%= object.email %></small></td>
<td ><small>
	<%if ["superadmin", "administrator"].include? object.role  %>
		Administration
	<%else%>
	<%= object.teams.pluck(:name).to_sentence unless object.teams.nil? %>
	<%end%>
	</small>
</td>
<td class="actions">
			<%= smart_listing_item_actions [
			 {name: :show, url: user_path(object),title: "show user", icon: 'fa fa-sticky-note'}
				]%>
</td>