<%if box.rack_position%>
    <div style="width: 70px; height: 220px; border: 1px solid black; border-radius: 2px; padding: 0 2px 0 2px; text-align: center;">
        <div class="text-center">
          <strong>rack#<%=box.rack_position.shelf_rack.name%></strong>
        </div>
            <%box.rack_position.shelf_rack.rack_positions.each do |position|%>

                <% bg_color = box.rack_position.id == position.id ? '#5cb85c':'#337ab7' %>
                <div class = "container_rack_position_small" style="display: inline-block; height: 15px; margin-top: 2px; margin-bottom: 2px; padding: 0 px; background-color: <%=bg_color%>; width: 100%; font-size: 80%;">
                    <%=position.name%>
                </div>
            <%end%>
    </div>
<%end%>