
<div class="row">
	<h2>Batches</h2>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<%= render 'batches/components/search' %>
	</div>
</div>
<div class="container">
<% unless @batches.empty? %>
	<div class="row">
		<div class="col-xs-12 text-center" style="overflow: auto;">
			<%= render partial: "batches/list_components/list", locals: {batches: @batches} %>
				</div>
		</div>
	</div>
<%else%>
<p><em>No batches</em></p>
<%end%>

