<% source = '/batches'%>
<div class="container">
	<div class="row">
		<h1><i class="fa_icon fa fa-search"></i>Batches</h1>
	</div>
<div class="row">
	<div class="col-xs-12">
		<%= render 'batches/components/search'%>
	</div>
</div>
<% unless @batches.empty? %>
	<div class="row">
		<div class="col-xs-12 text-center" style="overflow: auto;">
			<%= render partial: "batches/list_components/list", locals: {batches: @batches} %>
				</div>
		</div>
</div>
<%else%>
<p><em>No batches</em></p>
<%end%>

