.box {
	font-size: 70%;
	text-align: center;
	border-radius: 2px;
	margin: 5% 2% 2% 2%;
	padding: 0
}

.vial-slot{
	min-width: 35px;
	min-height: 35px;
	max-width: 35px;
	max-height: 35px;
	text-align: center;
	vertical-align: middle;
	border:1px solid black;
	border-radius: 2px; 
	margin: 0;
	padding:0;
}