.container_shelf {
  min-width: 60px;
  min-height: 90px;
  max-width: 90px;
  max-height: 400px; 
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.container_rack {
  display: block;
  overflow: auto;
  min-height: 350px;
  max-height: 400px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px; 
  float: none;
  padding: 0 0 5% 5%;
}

.container_rack_small {
  //display: block;
  overflow: auto;
  min-height: 150px;
  max-height: auto;
  //text-align: center;
  border: 1px solid black;
  border-radius: 2px; 
  padding: 0 0 5% 5%;
}

.container_rack_row {
  min-width: 70px;
  min-height: 200px;
  max-width: 70px;
  max-height: auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px; 
  padding:0;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container_rack_top {
  min-width: 70px;
  min-height: 70px;
  max-width: 70px;
  max-height: 70px;
  border: 1px solid black;
  border-radius: 2px; 
  padding: 0 0 0 7% ;
  margin: 0 0 5% 0 ;
  background-color: #337ab7;
}

.container_rack_top_medium {
  min-width: 70px;
  min-height: 70px;
  max-width: 70px;
  max-height: 70px;
  border: 1px solid black;
  border-radius: 2px; 
  padding: 0 0 0 7% ;
  margin: 0 0 5% 0 ;
  background-color: #337ab7;
  font-size: 90%;
  text-align: center;
  color: white;
}

.container_rack_top_small {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  border: 1px solid black;
  border-radius: 2px; 
  padding: 0 0 0 7% ;
  margin: 2% 2% 2% 2% ;
  background-color: #337ab7;
  font-size: 100% 
}

.container_rack_label {
  margin: 0 0 0 5%;
}

.container_rack_position {
  min-width: 80px;
  min-height: 25px;
  max-width: 80px;
  max-height: 25px;
  border:1px solid grey;
  border-radius: 2px;
  background-color: lightgrey;
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 px;
}

.container_rack_position_small {
  border:1px solid grey;
  border-radius: 2px;
}

.container_rack_position_row {
  min-width: 50px;
  min-height: 14px;
  max-width: 50px;
  max-height: 14px;
  text-align: center;
  vertical-align: middle;
  border:1px solid grey;
  border-radius: 2px; 
  padding: 0 0 0 0px;
  margin-left: 5%;
  margin-right: 0%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: lightgrey;
}

//Container map small

.container_rack_row_small {
  min-width: 40px;
  min-height: 80px;
  max-width: 40px;
  max-height: 80px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px; 
  padding: 0 0 0 0;
  margin: 1% 1% 0% 0%;
  background-color: #337ab7;
}

.container_rack_row_v_small {
  min-width: 25px;
  min-height: 50px;
  max-width: 25px;
  max-height: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px; 
  padding: 0 0 0 0;
  margin: 1% 1% 0% 0%;
  background-color: #337ab7;
}

.container_rack_label_small {
  font-size: 90%;
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: white;
}

.container_shelf_label_small {
  min-width: 40px;
  min-height: 80px;
  max-width: 40px;
  max-height: 80px;
  text-align: center;
  padding: 0 0 0 0;
  margin: 1% 1% 0% 0%;
  font-size: 90%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.hcenter {
float: none;
margin: 0 auto;
}

.box-location {
  font-size: 70%;
  text-align: left;
  height: 15px;
  width: 70px;
  margin: 5% 5% 5% 5%;
  padding: 0px;
  }

.box {
  text-align: center;
}

.invisible {
  visibility: hidden;
}

.btn-circle {
    width: 28px;
    height: 28px;
    padding: 0px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.dot {
  height: 35px;
  width: 35px;
  background-color: #5bc0de;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}


.dot-small {
  height: 20px;
  width: 20px;
  background-color: #5bc0de;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
}

.dot-medium {
  height: 25px;
  width: 25px;
  background-color: #5bc0de;
  border-radius: 50%;
  margin-left: 5px;
}

.location {
    font-size: 60%;
}

.location-label{
    font-size: 50%;
    margin-left: 1px;
}

body { 
padding-top: 60px;
}

.margin-top-row-20 {
  margin-top: 20px;
}

.margin-top-row-10 {
  margin-top: 10px;
}

.margin-top-row-5 {
  margin-top: 5px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.center-div
{
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.outer-div
{
  padding: 2px;
}

.inner-div
{
  margin: auto;
}

.aligned-div
{
  display: inline-block;
}
