			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><%= "Vial".pluralize(@vials.length) %></strong>
				</div>
			<div class="panel-body out-slot" style="height: 500px;overflow: auto;">
				<div class="row" >
					<div class="col-lg-12">
						<table>
							<% @arr.each do |elt|%>
								<tr>
									<% elt.each do |v|%>
									<td>
										<div style="text-align: center;">
											<i class="fas fa-vial fa-2x <%=v.set_draggable%>" data-id="<%=v.id %>"></i><br/>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 draggableContainer center">
											<%= render :partial => "vials/components/tooltip", :locals => {v: v, source: source} %>	
											</div>
									</td>
								<%end%>
								</tr>
								<%end%>
							</table>
						</div><!--End of col-lg-3-->
					</div><!--End pf row-->
				</div><!--End of panel body-->
			</div><!--End of panel-->

