<div>
	<a class="location-tooltips" style="display:block" data-toggle="tooltip" title="">
		<div class="dot-medium outer-div draggable">			
				<div unselectable="on" class="location inner-div"></div>
		</div>
	</a>
</div>

