<div class="dot-medium outer-div draggable">
	<a class="location-tooltips" style="display:block" data-toggle="tooltip" title="">	
		<div unselectable="on" class="location inner-div"></div>
	</a>
</div>


