<a class="location-tooltips draggable" style="display:block" tabindex="0" data-toggle="popover" data-trigger="hover" data-html = "true" title='' data-content='' data-placement="left" data-container="body">
<div class="dot-medium outer-div draggable">
		<div unselectable="on" class="location inner-div"></div>
</div>
</a>